.main{
    height: 100%;
    font-variant: normal;
    font-family: roboto;
    color: black;
}
.profilecards{
    padding: 10px;
}
.profile{
    float: left;
    width: 46%;
    padding: 10px;
    margin: 2%;
}
.name{
    font-weight: 600;
    font-size: 30px;
}
.profileimage{
    height: 175px;
    width: 280px;
    margin-left: 5%;
    
}
.posting{
    margin: 15px;
    font-size: 15px;
}
.about{
    font-weight: 500;
}