<div class="main">
  <div class="image">
    <img src="./../../assets/images/Sreevidyanikethan.jpg" alt="" height="100%" width="100%">

    <div class="infoAbout">
      <h1 class="name">{{userdata.Name}}</h1>
      <h4 class="infojob">{{userdata.designation}} at {{userdata.company}}.</h4>
      <div class="locationInfo">
      <i class="fa fa-map-marker" style="    font-size:17px;" aria-hidden="true"></i>
      <span class="location">{{userdata.location}}</span>
      <div class="bdaynotify">
        <div class="qricon" (click)='getQr()'> <img src='../../assets/images/qr-icon2.png' height="50px"></div>
        <div class="cake job" [routerLink]="['/Alumni/JobStreet']"><img src='../../assets/images/job.png' height="30px"></div>
        <div class="cake" [routerLink]="['/Alumni/Birthdays']"> <img src='../../assets/images/bicon.png' height="30px"><div class="notify cakenotify" *ngIf=" bdaycount>0">{{birthdayToday.length}}</div></div>
      <div class="bell notifbell" [routerLink]="['/Alumni/Notifications']"> <div class="notify" *ngIf=" ncount>0">{{ncount}}</div></div>
     
      </div>
  </div>
    </div>
    <div class="qrcodediv" *ngIf='showqr' (click)='showqr=false'>
      <qrcode [qrdata]="qrdata" [width]="256"  [level]="'M'"></qrcode>
                    <!-- <p class="qrmsg text-center">Scan to view data</p> -->
  
    </div>
    <div class="content">
        <div class="eventDiv" #eventdiv>
      <h1 class="events">Registered Events //<span class="total">{{this.userdata.events.length}}</span></h1>
      <!-- <button (click)="showMore()" class="viewbut">{{view}}</button> -->
      <div class="eachevent" *ngFor='let each of events'>
        <h5 class="eventDate" style="font-size: 15px;">
          <span  *ngIf='each.startdate != each.enddate '>{{each.startdate | date:'EEE, MMM d, yyyy'}} - {{each.enddate | date:'EEE, MMM d, yyyy'}} </span>
          <span  *ngIf='each.startdate == each.enddate '>{{each.startdate | date:'EEE, MMM d, yyyy'}} </span>
        </h5>
          <h5 class="eventName ">{{each.eventname}}</h5>
          <h5 class="eventlocate">{{each.venue}}</h5>
         
      </div>
    
    </div>
  </div>
  <hr>

  <div class="testmonialdiv">
      <h3 class="testmonialtext">Your Testmonial</h3>
      <button class="givebutton" *ngIf="!testmonialShow" (click)="writetestmonial()">Write testmonial</button>
      <div *ngIf="testmonialShow" >
      <textarea *ngIf="isEdit" class="testmonialtextarea" name="" id="" cols="20" rows="5" [(ngModel)]='testmonial' [value]="testmonial">
      </textarea>
      <p *ngIf="!isEdit" class="testmonialpara"> {{testmonial}}</p>
      <button *ngIf="!isEdit" class="deletebutton modify" (click)="deletetestmonial()">Delete</button>
      <button *ngIf="!isEdit" class="editbutton modify" (click)="edittestmonial()" >Edit</button>
      <button *ngIf="isEdit" class="cancelbutton modify" (click)="cancletestmonial()">Cancel</button>
      <button *ngIf="isEdit" class="submitbutton modify" (click)="submittestmonial()" >Submit</button>
      </div>
  </div>
  </div>
  