.main{
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
*:focus,*:checked{
    outline: none;
}
.maintext{

}
.subtext{
    font-size: 14px;
}
.chapter{

}
.eachchapter{
 display: inline-block;
 width: 48%;
 height: 350px;
 margin: 1%;
}
.imagediv{
 height: 100%;
}
.create{
    float: right;
    margin-top: -35px;
}
/* input{

    padding: 1px 10px;
    width: 45%;
    margin: 0% 2%;
    margin-bottom: 2%;
    border-radius: 3px;
    background-color: white;
    border: 1px solid;
    height: 40px;


} */
.tArea .floating-label{
    width: 94%;
}
.tArea{
    margin-top: 20px;
}

 /* floating Labels */

 .floating-form {
   padding-top: 30px;
  }
  
  /****  floating-Lable style start ****/
  .floating-label { 
    position: relative;
    margin-bottom: 20px;
    width: 45%;
    margin: 0% 2%;
    margin-bottom: 2%;
    display: inline-block;
  }
  .floating-input , .floating-select {
    font-size: 18px;
    display: block;
    width: 100%;
    height: 38px;
    background-color: transparent;
    border: 1px solid;
    padding: 4px 4px;
    border-radius: 3px;
  }
  
  .floating-input:focus , .floating-select:focus {
       outline:none;
    
  }
  
  label {
    color:#999; 
    font-size:17px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:6px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top: -33px;
    font-size: 20px;
    color: #5264AE;
  }
  
  .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top: -33px;
    font-size: 20px;
    color: #5264AE;
  }
  
  /* active state */
  .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
  }
  
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .floating-textarea {
     min-height: 30px;
     max-height: 260px; 
     overflow:hidden;
    overflow-x: hidden; 
    height: 90px;
  }
  
  /* highlighter */
  .highlight {
    position:absolute;
    height:50%; 
    width:100%; 
    top:15%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  

 
  /* floating Labels */
.createbut{
    background: #1a456b;
    padding: 4px 10px;
    color: white;
    border: none;
    border-radius: 3px;
}
.createbut:hover{
    background: #296ca8;
}
.content {
 
    position: relative;
    bottom: 72px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px 10px;
  }
  .chaptername{
    font-size: 30px;
    float: right;
    margin-top: -38px;
}
.coordinators,.members,.eventsdiv{
    display: inline-block;
    width: 100%;
}
.members,.eventsdiv{
    margin-top: 20px;
}
.eachalumni{
    display: inline-flex;
    width: 32%;
    padding: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    margin: 0.5%;
}
.alumniimagediv{
    display: inline-grid;
    height: 150px;
    width: 110px;
}
.details{
    display: inline-grid;
    /* position: absolute; */
    width: 100%;
    padding: 0px 10px;
}
.info{
    font-size: 14px;
}
.demote{
    border: none;
    background-color: #e53935;
    color: white;
    width: 55%;
    margin-left: 45%;
    border-radius: 5px;
}
.hrline{
    margin-top: 0;
}
.promote{
    width: 65%;
    margin-left: 35%;
    background-color: #00a65a;
    border-color: #008d4c;
}
.promote:hover{
    color: #fff;
    background-color:  #008d4c;;
    border-color: #398439;
}
.count{
    margin: 14px;
    font-size: 22px;
}
.fa{
margin-right: 5px;
}
.events{
    height: 26px;
    margin-right: 5px;
}
.name{
    font-size: 18px;
}
.mem{
 margin-right: 0px;
}
.errordiv{
    text-align: center;
    font-size: 24px;
}
.loading{
    width: 100%;
    overflow: hidden;
}

.loading2{
    position: relative;
    width:40%;
    height: 2px;
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        left: -50vw;
    background-color: red;}
    50%{
        left: 50vw;
    background-color: #DC143C;}
    100%{
        left: 100vw;
        background-color: red;
    }
}
 .image{
    position: inherit;
    padding: 4px 10px;
    background-color: #db9833;
    color: white;
    border-radius: 3px;
    font-size: 20px;
} 
input[type=file]::-webkit-file-upload-button {
    border: none;
    padding: 5px 10px;
    background: dodgerblue;
    content: "fjjd";
    color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
  }
  input[type=file]::-webkit-file-upload-button:focus{
      outline: none;
      
  }
  .file-upload-field{
      border: none;
  }
  .file-upload-field:hover{
      cursor: pointer;
  }
  input[type=file]{
      width: 250px;
      position: absolute;
      margin-top: 7px;
      font-size: 18px;
      margin-left: -106px;
      display: inline-block;
  }
  input[type=file]:focus{
     outline: none;
  }
  .inner{
    margin: 0px 4px;
    font-size: 14px;
  }
  .btns .floating-label{
      text-align: center;
      vertical-align: text-bottom;
  }
  .btns .inner{
      font-size: 20px;
  }