<div class="loading" *ngIf='loading'>
    <div class="loading2"></div>
  </div>
<div class="main">
    <div class="maintext">
        <h3 (click)='showchapter=false;showCreate=true'>Alumni Chapters <span class="subtext"></span> </h3>
        <div class="create" *ngIf="showCreate">
              <button *ngIf="!createchapter" class="createbut" type='submit' (click)='createchapter=true'>New Chapter</button>
              <div class="creatediv" *ngIf="createchapter">
                <label class="field-label" for="file-upload-field">Chapter Image</label>
                <input name="file-upload-field" type="file" (change)="onFileSelect($event)" id="file-upload-field" class="file-upload-field" value="" required>
                <input type="text" placeholder="Chapter Name" style="display: inline-block;" #name required>
                <button  class="createbut inner" type='submit'(click)='create(name.value)'>Create Chapter</button>
                <button  class="createbut inner" type='submit' (click)='createchapter=false'>Cancel</button>

            </div>
          </div>
    </div>
    <div class="chapter" *ngIf='!showchapter'>
        <div class="eachchapter" *ngFor='let each of chapters' (click)='showchapterdata(each);showCreate=false'>
            <div class="iamgediv" style="height: 100%;">
                <img src="{{each.image}}" alt="Chapter Profile pic" height="100%" width="100%">
                <div class="content">
                    <h1>{{each.chaptername}} Chapter</h1>
                  </div>
            </div>
        </div>
    </div>
    <div class="chapterdata" *ngIf='showchapter'>
        <h1 class="chaptername"><span class="count mem"><i class="fa fa-users" aria-hidden="true"></i>{{totalcount}}</span>
            <span class="count"><img src="../../../assets/images/events.png" class="events" alt="">10</span> 
            {{scname}} Chapter</h1>
        <div class="coordinators">
            <div>
                <h4 style="color: blue;">Coordinators</h4>
                <hr class="hrline">
            </div>
            <div *ngIf='coordinators.length<1'>
                <div class="errordiv">
                          No Coordinators
                </div>
              </div>
            <div class="eachalumni" *ngFor='let coordinator of coordinators'>
                <!-- <div class="alumniimagediv">
                    <img src="../../../assets/images/download.jpg" alt="" height="100%" width="100%">
                </div> -->
                <div class="details">
                    <h3 class="info name"><b>{{coordinator.Name}}</b> </h3>
                    <h3 class="info">{{coordinator.branch}}({{coordinator.yop}})</h3>
                    <h3 class="info">{{coordinator.institution}}</h3>
                    <h3 class="info">{{coordinator.designation}},{{coordinator.company}}</h3>  
                    <h3 class="info">{{coordinator.location}}</h3>   
                    <button class="demote" (click)='demote(coordinator)'>Demote as Member</button>            
                 </div>
            </div>

        </div>

        <div class="members">
            <div>
                <h4 style="color: blue;">Members</h4>
                <hr class="hrline">
            </div>
            <div *ngIf='members.length<1'>
              <div class="errordiv">
                        No Members
              </div>
            </div>
            <div class="eachalumni" *ngFor='let member of members'>
                <div class="details">
                    <h3 class="info name"><b>{{member.Name}}</b> </h3>
                    <h3 class="info">{{member.branch}}({{member.yop}})</h3>
                    <h3 class="info">{{member.institution}}</h3>
                    <h3 class="info">{{member.designation}},{{member.company}}</h3>  
                    <h3 class="info">{{member.location}}</h3>   
                    <button class="demote promote" (click)='promote(member)'>Promote as Coordinator</button>            
                 </div>
            </div>

        </div>

        <div class="eventsdiv">
            <div>
                <h4 style="color: blue;">Events in Chapter</h4>
                <hr class="hrline">
            </div>
            <div class="eachalumni" *ngFor='let o of n'>
                <div class="details">
                    <h3 class="info">Mon 12 March 2020</h3>
                    <h3 class="info name"><b>Aumni Association meet</b> </h3>
                    <h3 class="info">Hyderabad</h3>
                    <h3 class="info"><i>Created by:</i> Ahmad</h3>       
                 </div>
            </div>

        </div>
    </div>
</div>