<div class="loading" *ngIf='loading'>
    <div class="loading2"></div>
  </div>
<div class="main">
    <div class="maintext">
        <h3 (click)='showchapter=false;showCreate=true'>Alumni Chapters <span class="subtext"></span> </h3>
        <div class="create" *ngIf="showCreate">
              <button *ngIf="!createchapter" class="createbut" type='submit' (click)='createchapter=true'>New Chapter</button>
              <div class="creatediv" *ngIf="createchapter">
                <button  class="createbut inner" type='submit' (click)='createchapter=false'>Cancel</button>

            </div>
          </div>
    </div>
    <div class="chapter" *ngIf='!showchapter&&!createchapter'>
        <div class="eachchapter" *ngFor='let each of chapters' (click)='showchapterdata(each);showCreate=false'>
            <div class="iamgediv" style="height: 100%;">
                <img src="{{each.image}}" alt="Chapter Profile pic" height="100%" width="100%">
                <div class="content">
                    <h1>{{each.chaptername}} Chapter</h1>
                  </div>
            </div>
        </div>
    </div>
    <div class="chapter"  *ngIf="createchapter&&!showchapter">
       <div class="creatediv floating-form">
        <div class="floating-label" style="display: inline-block;">      
            <input class="floating-input" type="text" placeholder=" " #name>
            <label>Chapter Name*</label>
          </div>
          <div class="floating-label" style="display: inline-block;">      
            <input class="floating-input" type="text" placeholder=" " #location>
            <label>Chapter Location*</label>
          </div>
           <div class="tArea">
            <div class="floating-label">      
                <textarea class="floating-input floating-textarea" placeholder=" " #description></textarea>
                <span class="highlight"></span>
                <label>Chapter Description*</label>
              </div>
    </div>
    <div style="margin-top: 20px;">
        <div class="floating-label" style="display: inline-block;">      
           <input class="floating-input" type="text" placeholder=" " #contact>
           <label>Chapter Contact*</label>
         </div>
         <div class="floating-label" style="display: inline-block;">      
           <input class="floating-input" type="text" placeholder=" "  #mail>
           <label>Chapter Mail*</label>
         </div>
       </div>
       <div class="errorMsg" *ngIf="errorMsg" [ngClass] ="FadeOutMsg()">
        <p>Please Fill All Required Fields</p>
    </div>
   <div class="btns">
        <div class="floating-label">  
        <label class="field-label image" for="file-upload-field">Chapter Image*</label>
        <input name="file-upload-field" type="file" (change)="onFileSelect($event)" id="file-upload-field" class="file-upload-field" value="" required>
        </div>
        <div class="floating-label">  
        <button  class="createbut inner" type='submit'(click)='create(name.value,location.value,description.value,contact.value,mail.value)'>Create Chapter</button>
        </div>
    
    </div>
    </div>
    </div>
    <div class="chapterdata" *ngIf='showchapter'>
        <h1 class="chaptername"><span class="count mem"><i class="fa fa-users" aria-hidden="true"></i>{{totalcount}}</span>
            <span class="count"><img src="../../../assets/images/events.png" class="events" alt="">{{events.length}}</span> 
            {{scname}} Chapter</h1>
        <div>
            <div class="butdiv">
             
                <button id="editbutton" (click)='editDetails=!editDetails'>Edit Details</button>
                <button (click)='delete()'>Delete Chapter</button>
            </div>
            <div class="chapter" *ngIf='editDetails' >
             <form [formGroup]='updateChapter'>
                <div class="creatediv floating-form">
                 <div class="floating-label" style="display: inline-block;">      
                     <input class="floating-input" type="text" placeholder=" " value={{scname}} formControlName='chaptername'>
                     <label>Chapter Name*</label>
                   </div>
                   <div class="floating-label" style="display: inline-block;">      
                     <input class="floating-input" type="text" placeholder=" "  value={{selectedchapter.location}} formControlName='chapterlocation'>
                     <label>Chapter Location*</label>
                   </div>
                    <div class="tArea">
                     <div class="floating-label">      
                         <textarea class="floating-input floating-textarea" placeholder=" " value={{selectedchapter.description}} formControlName="description"></textarea>
                         <span class="highlight"></span>
                         <label>Chapter Description*</label>
                       </div>
             </div>
             <div style="margin-top: 20px;">
             <div class="floating-label" style="display: inline-block;">      
                <input class="floating-input" type="text" placeholder=" " value={{selectedchapter.chaptermail}} formControlName='chapterphone'>
                <label>Chapter Contact*</label>
              </div>
              <div class="floating-label" style="display: inline-block;">      
                <input class="floating-input" type="text" placeholder=" "  value={{selectedchapter.location}} formControlName='chaptermail'>
                <label>Chapter Mail*</label>
              </div>
            </div>
            <div class="errorMsg" *ngIf="errorMsg" [ngClass] ="FadeOutMsg()">
                <p>Please Fill All Required Fields</p>
            </div>
            <div class="errorMsg succes" *ngIf="successMsg" [ngClass] ="FadeOutMsg()">
                <p>Chapter Details Updated Succesfully</p>
            </div>
            <div class="errorMsg succes" *ngIf="imageSuccess" [ngClass] ="FadeOutMsg()">
                <p>Chapter Image Updated Succesfully</p>
            </div>
            
            <div class="btns">
                 <div class="floating-label">  
                 <label class="field-label image" for="file-upload-field">Chapter Image</label>
                 <input name="file-upload-field "   type="file" (change)="onImageSelect($event)" id="file-upload-field" class="file-upload-field imageinput" value="" required>
                 <button  class="createbut inner" type='submit'(click)='updateImage()'>Update Image</button>
                 </div>
                 <div class="floating-label">  
                 <button  class="createbut inner" type='submit'(click)='updateData(updateChapter.value)'>Update Chapter</button>
                 </div>
             
             </div>
             </div>
            </form>
             </div>
        </div>
        <div class="coordinators">
            <div>
                <h4 style="color: blue;">Coordinators</h4>
                <hr class="hrline">
            </div>
            <div *ngIf='coordinators.length<1'>
                <div class="errordiv">
                          No Coordinators
                </div>
              </div>
            <div class="eachalumni" *ngFor='let coordinator of coordinators'>
                <!-- <div class="alumniimagediv">
                    <img src="../../../assets/images/download.jpg" alt="" height="100%" width="100%">
                </div> -->
                <div class="details">
                    <h3 class="info name"><b>{{coordinator.Name}}</b> </h3>
                    <h3 class="info">{{coordinator.branch}}({{coordinator.yop}})</h3>
                    <h3 class="info">{{coordinator.institution}}</h3>
                    <h3 class="info">{{coordinator.designation}},{{coordinator.company}}</h3>  
                    <h3 class="info">{{coordinator.location}}</h3>   
                    <button class="demote" (click)='demote(coordinator)'>Demote as Member</button>            
                 </div>
            </div>

        </div>

        <div class="members">
            <div>
                <h4 style="color: blue;">Members</h4>
                <hr class="hrline">
            </div>
            <div *ngIf='members.length<1'>
              <div class="errordiv">
                        No Members
              </div>
            </div>
            <div class="eachalumni" *ngFor='let member of members'>
                <div class="details">
                    <h3 class="info name"><b>{{member.Name}}</b> </h3>
                    <h3 class="info">{{member.branch}}({{member.yop}})</h3>
                    <h3 class="info">{{member.institution}}</h3>
                    <h3 class="info">{{member.designation}},{{member.company}}</h3>  
                    <h3 class="info">{{member.location}}</h3>   
                    <button class="demote promote" (click)='promote(member)'>Promote as Coordinator</button>            
                 </div>
            </div>

        </div>

        <div class="eventsdiv">
            <div>
                <h4 style="color: blue;">Events in Chapter</h4>
                <hr class="hrline">
            </div>
            <div *ngIf='events.length<1'>
                <div class="errordiv">
                          No Events
                </div>
              </div>
            <div class="eachalumni" *ngFor='let event of events'>
                <div class="details">
                    <h3 class="info">{{event.eventdate | date:'EEE dd MMMM yyyy'}}</h3>
                    <h3 class="info name"><b>{{event.eventname}}</b> </h3>
                    <h3 class="info">{{event.location}}</h3>
                    <h3 class="info"><i>Created by:</i> {{event.createdby}}</h3>       
                 </div>
            </div>

        </div>
    </div>
</div>
