<div class="mainUpdate ">
  <h4 class="text-center">Update Your Profile</h4>
   <div class="profileupdate">
      <img src="assets/images/download.jpg" alt="">
      <div class="buttons">
        <input type="file" id="file">
        <button type="button"  id="trigger-upload " class="btn btn-primary upload">
            <i class="icon-upload icon-white"></i> Upload
        </button>
    </div>
   </div>
   <div class="formElements">
    <div class="text-input">
      <input type="text" id="input1" class="form-control " placeholder="Try typing something in here!" [value]="paramName">
      <label for="input1">First Name</label>

      <input type="text" id="input1" class="form-control "  placeholder="Try typing something in here!" [value]="paramName">
      <label for="input1">Last Name</label>


      <input type="text" id="input1" class="form-control "  placeholder="Try typing something in here!" [value]="paramName">
      <label for="input1">Job At</label>

      <input type="text" id="input1" class="form-control "  placeholder="Try typing something in here!" [value]="paramName">
      <label for="input1">Location</label>

      
      <textarea id="input1" rows = "5" cols = "50" name = "bio" [value]="bio">
     </textarea>
     <label for="bio">Bio</label>

     <button class="upData">Update My Data</button>
    </div>
     <!-- <label for="name" class="form_label">First Name</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Last Name</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Job At</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Location</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required> 
    <label for="bio" class="form_label">Bio</label>
    <textarea rows = "5" cols = "50" name = "bio" [value]="bio">
   </textarea>-->


   </div>

   
</div>
