<div class="loading" *ngIf='loading'>
    <div class="loading2"></div>
  </div>
<div class="main">
<div class="content" *ngIf='gotdata'>
<div class="updatediv">
    <div class="notifdiv animate slide-in-down" #notificationDiv>
       Updated SucessFullyDont worry
    </div>
    <div class="head">
        <p >Personal Details</p>
    </div>
    <div>
        <div class="formElements">
            <div class="text-input">
                <div class="inputdiv">
                <label for="input1">Name :</label>
              <input [(ngModel)]="firstName" type="text" id="input1" class="form-control "  placeholder="Name" [value]="firstName">
            </div>
            <div  class="inputdiv">
              <label for="input2">Email :</label>
              <input [(ngModel)]="email" type="text" id="input2" class="form-control " placeholder="Mail" [value]="email">
            </div>
             <div  class="inputdiv">
              <label for="input3">Password :</label>
              <input [(ngModel)]="password" type="password" id="input3" class="form-control " placeholder="Password" >
            </div>
            
            </div>
            <div class='success'>
            <!-- <strong  *ngIf='hideSuccessMessage' [ngClass] ="FadeOutSuccessMsg()" >Details Updated Successfully</strong>       -->
        </div>
            <button class="upDate" (click)="updateProfile()" >Update Details</button>
            <!-- <p class="updateMessage text-center" *ngIf="notUpdated">Details Updated Successfully</p> -->
           </div>
        
    </div>
</div>

<div class="grantaccesdiv">
    <div class="head">
        <p>Edit Access to Admin</p>
        <button class="caccess" (click)="createnew=true" *ngIf="!createnew"><i class="fa fa-plus" aria-hidden="true"></i>Create New Access</button>
        <div *ngIf="createnew" class="canceldiv">
            <button class="caccess" (click)="createnew=false;Member=null;selectedMember=false">Cancel</button>
            <button class="caccess"  [disabled]='!selectedMember' (click)="grantaccess();">Grant Access</button>
        </div>
    </div>
    <div class="createnewdiv" *ngIf='createnew'>
        <div class="searchdiv">
           <label for="search">Search Name: </label>
            <input type="text" #searchText  name="" id="search"  (keyup)="searchTerm.next($event.target.value)" placeholder="Search..">
            <div  class="resultdiv" *ngIf="search">
                <div class="eachresult" *ngFor='let result of resultSet' (click)='select(result);searchText.value="";resultSet=[];search=false'>
                   <div class="imgdiv">
                      <img src={{result.profilepic}} alt="" height="100%" width="100%"></div>
                      <div class="datadiv">
                         <p> {{result.Name}}</p>
                        <p>{{result.email}}</p>
                      </div>
                </div>
                <p class="noresult noinstselect" *ngIf='resultSet.length==0 && search'>Not Found</p>
             </div>
        </div>
        <div class="searchdiv sdiv2">
            <p class="text-center">Preview Details</p>
            <p class="noresult" *ngIf='!selectedMember'>Select Member to Preview Details</p>
            <div class="memberdata"  *ngIf='selectedMember'>
                <div class="imagediv">
                    <img src={{Member.profilepic}} alt="" height="100%" width="100%">
                </div>
                <div class="data">
                    <p><strong>Name :</strong> {{Member.Name}}</p>
                    <p><strong> Roll No :</strong> {{Member.rollno}}</p>
                    <p><strong>Email :</strong> {{Member.email}}</p>
                    <p><strong>DOB :</strong> {{Member.dateofbirth | date :'MMM d, y '}}</p>
                    <p><strong>Batch :</strong> {{Member.yop}}</p>
                    <p><strong>Branch :</strong> {{Member.branch}}</p>
                    <p><strong>Institution :</strong> {{Member.institution}}</p>
                    <!-- <p>Email : {{Member.email}}</p> -->
                </div>
            </div>
           
        </div>
    </div>
    <div class="list">
      
        <table >
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Granted Access on</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr class="data" *ngFor="let admin of admins"> 
                   <td *ngIf='admin._id != loginUserId'>{{admin.Name}}</td>    
                   <td *ngIf='admin._id != loginUserId'>{{admin.email}}</td>
                   <td *ngIf='admin._id != loginUserId'>{{admin.adminon | date:'MMM dd,yyyy'}}</td>
                   <td *ngIf='admin._id != loginUserId'><button class="access" (click)='removeaccess(admin)' > <i class="fa fa-trash-o"></i> Remove Access</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="noclass" *ngIf="admins.length==1">No admins other than you</p>
        </div>
    </div>

</div>
<div class="updatelogodiv">
    <div class="head">
        <p>Update Website and Institution Logos</p>
    </div>
    <div class="logodiv">
        <div class="logo">
            <img src={{websitelogo}} alt="" height="100%" width="100%">
            <form class="form">
                <div class="file-upload-wrapper" data-text="Select your file!">
                  <input name="file-upload-field" type="file" (change)="onImageSelect($event)" class="file-upload-field" value="" required>
                  <button (click)='updatewebsitelogo()'>Update Website Logo</button>
                </div>
              </form>
              <p *ngIf='noWebsitelogo' class="text-center message">No Image Selected</p>
        </div>
    </div>
    <div class="logodiv">
        <div class="logo">
            <img src={{institutelogo}} alt="" height="100%" width="100%">
        </div>
        <form class="form">
            <div class="file-upload-wrapper" data-text="Select your file!">
              <input name="file-upload-field" (change)="onImageSelectIn($event)" type="file" class="file-upload-field" value="" required>
              <button (click)='updateinstitutelogo()' type="submit">Update Institute Logo</button>
            </div>
          </form>
          <p *ngIf='noInstlogo' class="text-center message">No Image Selected</p>
    </div>
</div>
<div class="updateinstitutes">
    <div class="head">
        <p>Institudes - Branches</p>
    </div>
    <div>
        <div class="logodiv subdiv">
            <div class="institute">Institutes 
                <span *ngIf='!showaddInstitute' class="add addspan" (click)='showaddInstitute=true'><i class="fa fa-plus" aria-hidden="true"></i>Add</span>
                <div *ngIf='showaddInstitute' class="add newinst">
                    <input type="text" placeholder="Enter Institute Name" #iname>
                    <i class="fa fa-check" aria-hidden="true" (click)='addinst(iname.value)'></i>
                    <i class="fa fa-times" aria-hidden="true" (click)='showaddInstitute=false'></i>
                </div>
            </div>
          
            <p *ngIf='emptyInstitute' class="text-center message">Please Enter Institute Name</p>
            <p *ngIf='(inst.length<1)' class="noinstselect">No Institutes Added</p>
            <div class="inlist" *ngFor='let i of inst;let index as in'>
                <p class="eachin" [ngClass]='{"activeInst":i.name===selectedInstitute["name"]}' ><span class="instName" (click)='onInstSelect(i)'>{{i.name}}</span> <span class="close" (click)='deleteInst(i)'aria-hidden="true">&times;</span></p>
                            
            </div>
        </div>
        <div class="logodiv subdiv">
            <div class="institute">Branches <span *ngIf='instSelect' class="sInstname"></span>
                <span *ngIf='!showaddBranch&&instSelect' class="add addspan" (click)=' showaddBranch=true'><i class="fa fa-plus" aria-hidden="true"></i>Add</span>
                <div *ngIf=' showaddBranch' class="add newinst">
                    <input type="text" placeholder="Branh Name" #branch>
                    <i class="fa fa-check" aria-hidden="true"(click)='addBranch(branch.value)'></i>
                    <i class="fa fa-times" aria-hidden="true" (click)=' showaddBranch=false'></i>
                </div>
                </div>
                <div class="blist">
                    <p *ngIf='!instSelect' class="noinstselect">Select Institute to Preview/Edit/Delete Branches</p>
                    <p *ngIf='emptyBranch' class="text-center message">Please Enter Branch Name</p>
                    <p *ngIf='instSelect&&(branches.length==0)' class="noinstselect">No Branches</p>
                    
                    <div class="inlist" *ngFor='let i of branches'>
                        <p class="eachin" >{{i}} <span (click)='deleteBranch(i)' class="close" aria-hidden="true">&times;</span></p>
                                    
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="updatesocialdiv">
    <div class="head">
        <p>Social Netorking Links</p>
    </div>
    <div>
        <div class="formElements">
            <div class="text-input">
                <div class="inputdiv">
                <label for="fb">Facebook :</label>
              <input [(ngModel)]='socialSitesData["Facebook"]' type="text" id="fb" class="form-control "  placeholder="Facebook Link">
            </div>
            <div  class="inputdiv">
              <label for="twt">Twitter :</label>
              <input [(ngModel)]='socialSitesData["Twitter"]' type="text" id="twt" class="form-control " placeholder="Twitter Link" >
            </div>
             <div  class="inputdiv">
              <label for="google">Google :</label>
              <input [(ngModel)]='socialSitesData["Google"]' type="text" id="google" class="form-control " placeholder="Google Link" >
            </div>
            <div class="inputdiv">
                <label for="youtube">Youtube:</label>
              <input [(ngModel)]='socialSitesData["Youtube"]' type="text" id="youtube" class="form-control "  placeholder="Youtube Link" >
            </div>
            <div  class="inputdiv">
              <label for="linkedin">Linkedin :</label>
              <input [(ngModel)]='socialSitesData["Linkedin"]' type="text" id="linkedin" class="form-control " placeholder="Linkedin Link" >
            </div>
             <div  class="inputdiv">
              <label for="instagram">Instagram :</label>
              <input [(ngModel)]='socialSitesData["Instagram"]' type="text" id="instagram" class="form-control " placeholder="Instagram Link" >
            </div>
            
            </div>
            <div class='success'>
            <strong  *ngIf='hideSuccessMessageSS' [ngClass] ="FadeOutSuccessMsg()" >Details Updated Successfully</strong>      
        </div>
            <button class="upDate sitebutton" (click)="updateSocialSites()" >Update Site Links</button>
            <p class="updateMessage text-center" *ngIf="notUpdated">Details Updated Successfully</p>
           </div>
        
    </div>
</div>
</div>
</div>