<div class="main" *ngIf='!eventregister'>
 <div class="top">
   <div class="bar"></div>
  <div class="headtext">
     <h3 style="font-size: 40px;">Events</h3>
     <!-- <small class="givequote">Your contribution could change lives and make tomorrow better</small> -->
  </div>
 </div>
 <div class="content">
   <div class="tab-wrap">
     
       <input type="radio" name="tabs" id="tab1" checked>
       <div class="tab-label-content" id="tab1-content">
         <label for="tab1">Ongoing Events</label>
            <div class="tab-content">
               <div class="nodiv" *ngIf='ongoingevents.length==0'>
                No Ongoing Events
               </div>
               <div class="eventsDiv" *ngFor="let event of ongoingevents" (click)='viewEvent(event)'>
                  <div class="imgdiv">
                         <img src="{{event.image}}" alt="" width="100%" height="100%">
                  </div>
                  <div class="eacheventlist" >
                   <h3 class="eventName upcoming" >{{event.eventname}} </h3>
                   <div>
                      <i class="faa fa fa-calendar"></i>
                      <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                      <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                     </div>
               </div>
          </div>
            </div>
         </div>
        
       <input type="radio" name="tabs" id="tab2">
       <div class="tab-label-content" id="tab2-content">
         <label for="tab2">Upcoming Events</label>
         <div class="tab-content">
            <div class="nodiv" *ngIf='upcomingevents.length==0'>
               No Upcoming Events
              </div>
            <div class="eventsDiv" *ngFor="let event of upcomingevents" (click)='viewEvent(event)'>
               <div class="imgdiv">
                  <img src="{{event.image}}" alt="" width="100%" height="100%">
           </div>
           <div class="eacheventlist" >
            <h3 class="eventName upcoming" >{{event.eventname}} </h3>
            <div>
               <i class="faa fa fa-calendar"></i>
               <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
               <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
              </div>
        </div>
         </div>
         </div>
       </div>
       
       <input type="radio" name="tabs" id="tab3">
       <div class="tab-label-content" id="tab3-content">
         <label for="tab3">Past Events</label>
         <div class="tab-content">
            <div class="nodiv" *ngIf='pastevents.length==0'>
               No Past Events
              </div>
            <div class="eventsDiv" *ngFor="let event of pastevents" (click)='viewEvent(event)'>
               <div class="imgdiv">
                  <img src="{{event.image}}" alt="" width="100%" height="100%">
           </div>
         <div class="eacheventlist" >
             <h3 class="eventName upcoming" >{{event.eventname}} </h3>
             <div>
             <i class="faa fa fa-calendar"></i>
             <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
             <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
            </div>
         </div>
            </div>
         </div>
       </div>
   
       
       <div class="slide"></div>
     
   </div>
         <!-- <mat-tab-group  mat-stretch-tabs>
            <mat-tab style="background-color: greenyellow;" >
               <ng-template mat-tab-label class="tabs">Ongoing </ng-template>
              <div class="tab-content">
                 <div class="nodiv" *ngIf='ongoingevents.length==0'>
                  No Ongoing Events
                 </div>
                 <div class="eventsDiv" *ngFor="let event of ongoingevents" (click)='viewEvent(event)'>
                    <div class="imgdiv">
                           <img src="{{event.image}}" alt="" width="100%" height="100%">
                    </div>
                    <div class="eacheventlist" >
                     <h3 class="eventName upcoming" >{{event.eventname}} </h3>
                     <div>
                        <i class="faa fa fa-calendar"></i>
                        <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                        <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                       </div>
                 </div>
            </div>
              </div>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>Upcoming</ng-template>
               <div class="tab-content">
                  <div class="nodiv" *ngIf='upcomingevents.length==0'>
                     No Upcoming Events
                    </div>
                  <div class="eventsDiv" *ngFor="let event of upcomingevents" (click)='viewEvent(event)'>
                     <div class="imgdiv">
                        <img src="{{event.image}}" alt="" width="100%" height="100%">
                 </div>
                 <div class="eacheventlist" >
                  <h3 class="eventName upcoming" >{{event.eventname}} </h3>
                  <div>
                     <i class="faa fa fa-calendar"></i>
                     <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                     <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                    </div>
              </div>
               </div>
               </div>
            </mat-tab>
            <mat-tab >
               <ng-template mat-tab-label>Past</ng-template>
               <div class="tab-content">
                  <div class="nodiv" *ngIf='pastevents.length==0'>
                     No Past Events
                    </div>
                  <div class="eventsDiv" *ngFor="let event of pastevents" (click)='viewEvent(event)'>
                     <div class="imgdiv">
                        <img src="{{event.image}}" alt="" width="100%" height="100%">
                 </div>
               <div class="eacheventlist" >
                   <h3 class="eventName upcoming" >{{event.eventname}} </h3>
                   <div>
                   <i class="faa fa fa-calendar"></i>
                   <span class="eventDate" *ngIf='event.startdate != event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}} - {{event.enddate | date:'EEE, MMM d, yyyy'}}     <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                   <span class="eventDate" *ngIf='event.startdate == event.enddate '>{{event.startdate | date:'EEE, MMM d, yyyy'}}  <h6 class="eventlocate"><i class="faa fa fa-map-marker" style="font-size: 15px;"></i> {{event.venue}} </h6></span>
                  </div>
               </div>
                  </div>
               </div>
            </mat-tab>
         </mat-tab-group> -->
 </div>
</div>
<div *ngIf='eventregister' class="eventmain">
   <div class="eventtop">
     <div class="eventbar"></div>
    <div class="eventheadtext">
       <h3 style="font-size: 35px;">Event Registration</h3>
       <small class="eventgivequote"></small>
    </div>
   </div>
   <div class="content">
      <div class="eac">
    <div class="eventImage">
      <img src="{{event.image}}" alt="" height="100%" width="100%">
    </div>
    <div class="eventdetails">

          <h2 class="eventname">{{event.eventname}}</h2>
          <hr class="hrline">
          <h4 class="eventby"><b>By : </b> {{event.organisedby}}</h4>
          <hr class="hrline">
          <div class="eventlocation">
              <p  *ngIf='event.startdate != event.enddate '> <i class="faa fa fa-calendar"></i>{{event.startdate | date:'MMM d'}} - {{event.enddate | date:'MMM d'}} <span style="margin-left: 20px;"><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{event.starttime}}</p>
              <p  *ngIf='event.startdate == event.enddate '> <i class="faa fa fa-calendar"></i>{{event.startdate | date:'MMM d'}} </p>
              <p> <i class="faa fa fa-map-marker"></i> {{event.venue}}</p>
              <p> <i class="faa fa fa-users"></i> 50 People Intrested</p>
      </div>
      <button *ngIf='!registered' class="register" (click)='registerEvent()'>Register</button>
      <button *ngIf='registered' class="register done" disabled>Registered</button>
    </div>
      </div>
      <div class="logindiv" *ngIf='islogin==false'>
         Please Login to Register
      </div>
      <div class="logindiv success" *ngIf='islogin==true'>
         Registration Done Succesfull
      </div>
      <hr>
      
      <div class="description">
         <h5 class="abt">About The Event</h5>
         <p class="desc" *ngFor='let eachline of event.description'>{{eachline}}</p>
      </div>
      <button class="back" (click)='eventregister=false'>Back to events</button>
  </div>

  </div>
