<div class="main">
<div class="top">
    <button class="wishes back" [routerLink]="['/HomePage']">Back</button>
    <div class="bar"></div>
        <h1 class="toptext">Birthdays</h1>
</div>
<div class="content">
        <div>
            <p class="bdayquote text-center">"a birth-date is a reminder to celebrate the life as well as to update the life"</p>
        </div>
        <div class="bdays">
            <div class="monthdiv">
            <h1 class="month">Today</h1>
            <hr class="hrline">
        </div>
        
        <div class="today "> 
            <div class="todayimage">
                <img src="../../assets/images/download.jpg" alt="" height="100%" width="100%">
            </div>
            <div class="todaycontent">
                    <h1 class="name">Ahmad Shaik</h1>
                    <h2 class="branch">Computer Science and Engineering(2020)</h2>
                    <button class="wishes">{{buttondesc}}</button>
            </div>
        </div>

        <div class="today "> 
            <div class="todayimage">
                <img src="../../assets/images/download.jpg" alt="" height="100%" width="100%">
            </div>
            <div class="todaycontent">
                    <h1 class="name">Ahmad Shaik</h1>
                    <h2 class="branch">Computer Science and Engineering(2020)</h2>
                    <button class="wishes">{{buttondesc}}</button>
            </div>
        </div>
        </div>

<!-- --------------Tommorow------------ -->
<div class="bdays">
    <div class="monthdiv">
    <h1 class="month">Tommorow</h1>
    <hr class="hrline">
</div>
<div class="today "> 
    <div class="todayimage">
        <img src="../../assets/images/download.jpg" alt="" height="100%" width="100%">
    </div>
    <div class="todaycontent">
            <h1 class="name">Ahmad Shaik</h1>
            <h2 class="branch">Computer Science and Engineering(2020)</h2>
            <!-- <button class="wishes">{{buttondesc}}</button> -->
    </div>
</div>

<div class="today "> 
    <div class="todayimage">
        <img src="../../assets/images/download.jpg" alt="" height="100%" width="100%">
    </div>
    <div class="todaycontent">
            <h1 class="name">Ahmad Shaik</h1>
            <h2 class="branch">Computer Science and Engineering(2020)</h2>
            <!-- <button class="wishes">{{buttondesc}}</button> -->
    </div>
</div>
</div>
<!-- -------------------May--------------------------- -->
<div class="bdays">
    <div class="monthdiv">
    <h1 class="month">May</h1>
    <hr class="hrline">
</div>

<div class="today monthbday"> 
    <div class="todayimage">
        <img src="../../assets/images/download.jpg" alt="" height="100%" width="100%">
    </div>
  
</div>

<div class="today monthbday"> 
    <div class="todayimage">
        <img src="../../assets/images/hydrabad.jpg" alt="" height="100%" width="100%">
    </div>
   
</div>
<div class="today monthbday"> 
    <div class="todayimage">
        <img src="../../assets/images/profile2.jpg" alt="" height="100%" width="100%">
    </div>
  
</div>

<div class="today monthbday"> 
    <div class="todayimage">
        <img src="../../assets/images/Sreevidyanikethan.jpg" alt="" height="100%" width="100%">
    </div>
   
</div>
</div>

</div>
</div>