.main{
    color: black;
    font-variant: normal;
    font-family: roboto;
}
.bar{
    height: 45px;
    float: left;
    margin-top: 20px;
    width: 63%;
    background-color: #DC143C;
}
.headtext{
    float: right;
    /* padding: 18px; */
    padding-top: 25px;
    padding-right: 20px;
}
.givequote{
    position: relative;
    top: -6px;
}
.top{

}
.content{

}