<div class="mainHof">
  <H3 class="text-center namehof">Hall of fame</H3>
  <div class="">
    <div class="yearhof">
       2019
    </div>
     <div class="card hofcard">
       <div>
      <div class="imagecard">
        <img [src]="hofimage" alt="" height="100%" width="100%">
      </div>
      <div class="detailshof">
        <p class="hofname text-center">Ahmad</p>
        <p class="hofposition text-center">Software Engineer,Infosys</p>
      </div>
       </div>
     </div>

     <div class="yearhof">
        2018
    </div>
     <div class="card hofcard">
      <div class="imagecard">
        <img [src]="hofimage" alt="" height="100%" width="100%">
      </div>
      <div class="detailshof">
        <p class="hofname text-center">Ahmad</p>
        <p class="hofposition text-center">Software Engineer,Infosys</p>
      </div>
     </div>

     <button class="viewhof" [routerLink]="['/HallofFame']">View More..</button>
  </div>
</div>