<div class="loading" *ngIf='loading'>
  <div class="loading2"></div>
</div>
<div class="main">
  <div class="top">
    <div class="bar"></div>
  <h1 class="alumnitext" > Alumni</h1>
  </div>
<div class="profilecards">
  <div *ngFor="let profile of profiles" class="card profile">
       <h1 class="text-center name">{{profile.name}}</h1>
       <div class="profileimage">
         <img src={{profile.image}} alt="" height="100%" width="100%">
       </div>
       <h6 class="text-center posting">{{profile.designation}} @ {{profile.company}}</h6>
       <p class="about">{{profile.description}}</p>
  </div>
</div>
</div>