<div class="main" style="padding: 38px;background-color: gray;height: 100%;">
  <h2 class="text-center">About Us</h2>
<div class="chairman">
<div class="row">
  <div class="col-6">
  <div class="card" style="color: black;width: 85%;left: 8%;padding: 10px;">
    <div class="imageDiv" style="width: 10%;">
    <img class="card-img-top" src="assets/images/CM-SIR-NEW.jpg" alt="Card image cap" height="220">
    </div>
    <div class="card-body">
      <h5 class="card-title">Chairman Message</h5>
      <p class="card-text">
        <!--  -->

        You all very well know that Sree Vidyanikethan Educational Institutions is one among the Top educational Institutes in India. In scaling this achievement, I never forget.....</p>
      <a href="#" class="btn btn-primary view" data-toggle="modal" data-target="#myModal">Read more</a>
      
      <div class="modal fade" id="myModal" role="dialog" style="opacity: 1; color: black;">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <img class="card-img-top popimg" src="assets/images/CM-SIR-NEW.jpg" alt="Card image cap">

              <div class="text-center" style="margin-left: 23%;margin-top: 3%;float: left;">
                <h2>Dr. M. Mohan Babu</h2>
                <h4>Chairman</h4>
              </div>
              <button type="button" class="close" data-dismiss="modal" style="margin-top: 0%;">&times;</button>
            </div>
            
            <div class="modal-body">
              <p>
                You all very well know that Sree Vidyanikethan Educational Institutions is one among the Top educational Institutes in India. In scaling this achievement, I never forget the cooperation extended by parents, learned men, students, people who are directly or indirectly involved, and skills of students. Providing quality education and presenting to the country, professional students like you who keep significant goals, high standards and ethical values give me and my faculty immense satisfaction.</p>
            
            <p>Being Alumni of our prestigious institutions, hoping for the unobstructed relationship with us, and act as role models for the students of Sree Vidyanikethan Educational Institutions. It is understood that the efficacy inspired by disciplined behavior, you have grown acumen professionals.
            </p>
            <p>
            Knowing the significance of ethical & moral values, maintain good human relations; I hope for momentous & noteworthy services from you to the education field, the society and to India.
            </p>
            <p>
            You are aware that, 25% of admissions in Sree Vidyanikethan Educational Institutions are free for the poor students, irrespective of their caste and religion.As a part of this initiative, you could extend your support by transferring a part of your earnings, if you would like to help poor and needy students, who study in Sree Vidyanikethan Educational Institutions.
              </p>
            </div>
          </div>
          
        </div>
      </div>


    </div>
  </div>
</div>
  <div class="col-6">
  <div class="card" style="color: black;width: 85%;left: 8%; padding: 10px">
    <div class="imageDiv" style="width: 10%;">
      <img class="card-img-top" src="assets/images/v.jpg" alt="Card image cap" height="220">
      </div>
    <div class="card-body">
      <h5 class="card-title">CEO Message</h5>
      <p class="card-text">As CEO of Sree Vidyanikethan Educational Institutions, it gives immense pleasure for me to bring in “RECALL“ – a portal in the interest of alumni folks. As alumni of Sree Vidyanikethan...</p>
      <a href="#" class="btn btn-primary view" data-toggle="modal" data-target="#myModal2">Read More</a>

      <div class="modal fade" id="myModal2" role="dialog" style="opacity: 1; color: black;">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <img class="card-img-top popimg" src="assets/images/v.jpg" alt="Card image cap">

              <div style="margin-left: 22%;margin-top: 3%;float: left;         ">
                <h2>Vishnu Manchu</h2>
                <h4>CEO</h4>
              </div>
              <button type="button" class="close" data-dismiss="modal" style="margin-top: 0%;">&times;</button>
            </div>
            
            <div class="modal-body">
             <p> As CEO of Sree Vidyanikethan Educational Institutions, it gives immense pleasure for me to bring in “RECALL“ – a portal in the interest of alumni folks. As alumni of Sree Vidyanikethan Educational Institutions, I am proud to have such an interactive arena specifically for alumni.
</p>
              <p>I genuinely believe our chairman's words – Alumni are knowledge assets of educational institutions and, Sree Vidyanikethan Educational Institutions is not an exception. We, the alumni are the brand ambassadors of our institutions, representing the ethics & values learned her in Sree Vidyanikethan Educational Institutions, in one way or another throughout our lives.</p>
              
             <p> It is now on the alumni's shoulders, to take Sree Vidyanikethan 's reputation to the next level and let the victory of Sree Vidyanikethan be visible globally. It is also our responsibility to guide juniors by sharing our knowledge, achievements, experiences and happiness; which can enlighten them in various directions.</p>
              
             <p> As an alumnus, I pledge that I am always there for Sree Vidyanikethan in every possible way so that it can be an eminent platform for knowledge delivery. While writing this message, I turned nostalgic, recalling my studenthood days. I take this as an opportunity to welcome all my student friends to give valuable suggestions and necessary inputs to make our “RECALL" lively.</p>
              
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>