<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="angular-datatables.min.js"></script>
<script src="jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="buttons.datatables.min.css"/>
<script src="dataTables.buttons.min.js"></script>
<script src="buttons.colVis.min.js"></script>
<script src="buttons.flash.min.js"></script>
<script src="buttons.print.min.js"></script>
<script src="buttons.html5.min.js"></script>
<script src="angular-datatables.buttons.min.js"></script>
<title>Angular datatable to export data into excel,copy and print</title>
</head>
<body ng-app="TestApp" ng-controller="testController">
<div class="container">
<h1>Angular datatable to export data into excel,copy and print</h1>
<div class="col-sm-8">
  <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
    <thead>
      <tr><th>Sr</th><th>Name</th><th>Age</th><th>Salary</th><th>Action</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in userList">
        <td>{{$index + 1}}</td>
        <td>
          {{user.employee_name}}
        </td>
        <td>{{user.employee_age}}</td>
		 <td>{{user.employee_salary}}</td>
		<td><div class="btn-group">
                <button type="button" class="btn btn-default btn" ng-click="edit($index);"><i class="glyphicon glyphicon-pencil"></i></button>  
                <button type="button" class="btn btn-default btn" ng-click="delete();"><i class="glyphicon glyphicon-trash"></i></button> 
            </div></td>
      </tr>
    </tbody>
  </table>
  </div>
  
  </div>
</body>
</html>
<script>
angular.module('TestApp', ['TestApp.controllers', 'datatables', 'datatables.buttons']);
	
	angular.module('TestApp.controllers', []).controller('testController', function($scope,DTOptionsBuilder, DTColumnBuilder,DTColumnDefBuilder , $http) {
		
		$scope.getData1 = function() {
		$http.get("http://dummy.restapiexample.com/api/v1/employees")
		.then(function(response){ 
			$scope.userList = response.data;
			console.log(response.data);
		});
	}
	
	$scope.getData1();
	$scope.vm = {};
	$scope.vm.dtInstance = {};   
	$scope.vm.dtColumnDefs = [DTColumnDefBuilder.newColumnDef(2).notSortable()];
	$scope.vm.dtOptions = DTOptionsBuilder.newOptions()
					  .withOption('paging', true)
					  .withOption('searching', true)
					  .withOption('info', true)
					  .withButtons([
                                          {
                                              extend:    'copy',
                                              text:      '<i class="fa fa-files-o"></i> Copy',
                                              titleAttr: 'Copy'
                                          },
                                          {
                                              extend:    'print',
                                              text:      '<i class="fa fa-print" aria-hidden="true"></i> Print',
                                              titleAttr: 'Print'
                                          },
                                          {
                                              extend:    'excel',
                                              text:      '<i class="fa fa-file-text-o"></i> Excel',
                                             titleAttr: 'Excel'
                                          }
                                      ]
                                    )
					  ;
});
</script>
