/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.modal-backdrop.fade {
    opacity: 0.7;
}