/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Source Sans Pro', sans-serif;
}
.modal-backdrop.fade {
    opacity: 0.7;
}

@media screen and (max-width:600px) {
    body {
    overflow-x:auto;
    }
}


  