<div class="container" style="
border: 1px solid black;
">
  <div class="row">
    <div class="col-md-4 nopadding">
      <div class="span12 " >
      Alumni Logo
      </div>
    </div>
    <div class="col-md-8 nopadding">
      <div class="span12"> Alumni Association Title</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 nopadding">
      <div class="col-md-6 nopadding">
        <div class="span12"> SVET (link to Vidyanikethan.edu) </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="span12"> Alumni Chapters</div>
      </div>      
    </div>
    <div class="col-md-8 nopadding">
      <div class="col-md-2 nopadding">
        <div class="span12"> Alumni Directory </div>
      </div>
      <div class="col-md-2 nopadding">
        <div class="span12"> Community </div>
      </div>     
      <div class="col-md-2 nopadding">
        <div class="span12"> Gallery </div>
      </div>
      <div class="col-md-2 nopadding">
        <div class="span12"> Giving to Vidyanikethan </div>
      </div>     
      <div class="col-md-2 nopadding">
        <div class="span12">Testimonials </div>
      </div>
      <div class="col-md-2 nopadding">
        <div class="span12"> Contacts </div>
      </div>     
    </div>
  </div>
  <hr>
  <div>
  </div>
  <div class="row">
    <div class="col-md-3 nopadding left">
      <div class="span12 col">
        Login Area, Alumni Registration & Details Updation Links to like on FB, Twitter, Linkedin, Google Circles, Etc. (optionally, we can have logins from these)
      </div>
      <div class="span12 col">
        <p>Quiz Arena (answers should be sent to Alumni Relations Officer with in stipulated amount of time).</p>
      </div>
    </div>
    <div class="col-md-6 nopadding center">
      <div class="span12 col">
        Institutional Information in interest of Alumni, like messages from Chairman & CEO's to Alumni.



Important message conveying area, like Alumni Day, Awards to Alumni or Alumni events in the institutions/chapters, etc.



Latest happenings in institutions

      </div>
    </div>
    <div class="col-md-3 nopadding right">
      <div class="span12 col">
        Alumni Profiles
      </div>
      <div class="span12 col">
        Hall of the fame (Quarterly)

        Birthday & Anniversary celebrations
        
      </div>
    </div>
    </div>
</div>