
.col-md-4,.col-md-8,.col-md-6,.col-md-2,.col-md-3,.col
{
    /* border: 1px solid black; */
    padding: 0px;
    height: 40px;
}
.navigation{
    background-color:red;
}
.content{
 width:1220px;
 margin: auto;
}
.header{
    z-index: 101;
    position: fixed;
    width: 100%;
}
.row{
    border: 1px solid black;   
    margin-left: 0px;
    margin-right: 0px;
}
.leftBorder{
    border-left: 1px solid;
}

.left .col,.right .col{
    height: 275px;
}
.left{
    /* position: fixed; */
    /* position: sticky;
    top: 0; */
    padding: 0px;
    width: 18%;
    float: left;
}
.modal-backdrop.fade {
    opacity: 0.7;
}
.center {
    background-color: black;
    width: 63.0%;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}

.right{
    height: 100%;
    width: 18%;
    padding: 0px;
    float: left;
    /* position: sticky;
    top: 0; */
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .center .col{
    min-height: 550px;
 }
 .span12{
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     padding-left: 10px;
 }

 hr {
    border: 0;
    border-top: 1px solid black;
    margin-inline-start: -1em;
    margin-inline-end: -1em;
    margin-block-start: 1em;
}

.selectables{
    background: grey;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-variant: all-petite-caps;
    cursor: pointer;
}
.globalcontainer{
  margin-top: 1%;
}
.left{height: 100%;}
.right{height: 100%;}
.center{height: 100%;} 

.profile{
    background-color: white;
}

/*-------------navbar styles------------------*/
.navbar{
    margin-bottom: 0;
}

.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
}
.navbar{
    min-height: 0px;
}
.menuElements{
    display: inline-block;
    padding: 15px 17px;
    font-size: 14px;
    color: white;
    /* float: right; */
    margin-top: 3px;
}

.img{
    display: inline-block;
    /* padding: 15px 17px; */
    font-size: 14px;
    color: white;
    margin-top: 3px;
}
.menuElements:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.logo{
    margin-top: -3%;
    z-index: 1;
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .showHide {
    display:none;
    color: red;
    background-color: thistle;
  }


  