<div class="loading" *ngIf='loading'>
  <div class="loading2"></div>
</div>
<div class="mainUpdate " *ngIf="gotdata">
  <h4 class="text-center">Update Your Profile</h4>
   <div class="profileupdate">
     <input type="file" (change)="onfileselect($event)">
      <img src={{profilepic}} alt="" height="100%" width="100%">
      <p class="errDiv" *ngIf='errDiv'>No Image Selected</p>
      <div class="buttons">
        <button type="button" (click)="profilepicupload();FadeOutSuccessMsg()" id="trigger-upload " class="btn btn-primary upload">
            <i class="icon-upload icon-white"></i> Upload
        </button>
    </div>
   </div>
   <div class="formElements">
    <div class="text-input">
      <input [(ngModel)]="firstName" type="text" id="input1" class="form-control " [value]="firstName">
      <label for="input1">Name</label>

      <input [(ngModel)]="email" type="text" id="input2" class="form-control "[value]="email">
      <label for="input2">Email</label>
      <p class="errDiv upErrors" *ngIf="emailerror" style="color: red;">Please provide a valid email </p>
      <p class="errDiv upErrors" *ngIf="duppemail" style="color: red;">Email already exists..Please provide a valid email </p>

      <input [(ngModel)]="phone" type="text" id="input3" class="form-control "[value]="phone">
      <label for="input3">Phone</label>

      <input [(ngModel)]="password" type="{{showpassword ? 'text' : 'password'}}" id="input4" class="form-control " placeholder="Password" >
      <label for="input4">Password</label>
      <i [ngClass]="showpassword ? 'fa fa-eye' : 'fa fa-eye-slash'" id="togglePassword" (click)='changeView()'></i>      
      <p class="errDiv upErrors" *ngIf="passworderror" style="color: red;"> Password should contain uppercase,lowercase and number with 6-20 length</p>

      <input [(ngModel)]="company" type="text" id="input5" class="form-control " [value]="company">
      <label for="input5">Company</label>

      <input [(ngModel)]="designation" type="text" id="input6" class="form-control" [value]="designation">
      <label for="input6">Designation</label>

      <input [(ngModel)]="location" type="text" id="input7" class="form-control" [value]="location">
      <label for="input7">Location</label>
      
    
    </div>
    <p class="errDiv" *ngIf='emptydata'>Fill All The Fields</p>
    <p class="errDiv" *ngIf="notUpdated" style="color: green;">Details Updated Successfully</p>
    <p class="errDiv" *ngIf="error" style="color: red;">Error Updating Details </p>
    <button class="upData" (click)="updateProfile();FadeOutSuccessMsg()" >Update My Data</button>
     <!-- <label for="name" class="form_label">First Name</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Last Name</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Job At</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required>
    <label for="name" class="form_label">Location</label>
    <input type="text" class="form-control form_input" id="name" name="name" [value]="paramName" required> 
    <label for="bio" class="form_label">Bio</label>
    <textarea rows = "5" cols = "50" name = "bio" [value]="bio">
   </textarea>-->
   </div>
</div>
<div class="loading" *ngIf='loading'>
  <div class="loading2"></div>
</div>
