.main{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: white;
    font-variant: none;
    color: black;
    font-family: roboto;
}

.content{
    padding: 10px;
}
.eachnotif{
    padding: 10px;
    padding-bottom: 5px;
    font-size: 17px;
    border-bottom: 1px solid lightgrey;
    font-family: sans-serif;
    font-weight: 100;
}
.eachnotif:hover{
    background-color: #fbedeb;
    cursor: pointer;
}
.eachnotif div{
    display: inline-block;
    vertical-align: top;

}
.eachnotif img{
   
    margin-right: 10px;
}
.png{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.mess{
  width: 91%;
  padding-left: 17px;
}
.delete{
  width: 5%;
}
.close{

    font-size: 30px;
    color: black;
  text-align: center;
  width: 100%;
  padding: 3px;
}
.back{
    background: transparent;
    border: none;
    color: #DC143C;
    margin-left: 10px;
    float: left;
}
.msg{
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    font-weight: bold;
}
.time{
    font-size: 12px;
    color: lightgray;
    display: block;
    margin-top: 0px;
    font-weight: 100;
}