<div class="main">
    <div class="top">
        <h3>Notifications</h3>
    </div>
    <div *ngIf='notiflength==0'>
        <h4 class="msg">No Notifications</h4>
    </div>
    <div class="content" *ngIf='notiflength!=0'>
        <div *ngFor="let eachnotif of notifications" class="eachnotif">
         <div class="png">
             <img height="100%" width="100%"  src="../../../assets/images/rate.png" alt="">
        </div>
       
         <div class="mess"> ejdhj djhgjhg fgjdhg fgjd
             <br> <span class="time">JAN 20</span>
         </div> 
         
         <div class="delete">
            <span class="close" ><i class="fa fa-trash" aria-hidden="true"></i></span>
          
    
            </div>
        </div>
    </div>
    </div>