.main{
    color: black;
    font-variant: normal;
    font-family: roboto;
}
.bar{
    height: 45px;
    float: right;
    margin-top: 23px;
    width: 60%;
    background-color: #DC143C;
}
.headtext{
    float: left;
    /* padding: 18px; */
    padding-top: 25px;
    padding-left: 20px;
}
.heading{
    font-size: 35px;
}
.givequote{
    position: relative;
    top: -6px;
}
.top{

}
.content{

}