
<!-- <input type="file" name="image" multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png">
<button type="submit" (click)="onsubmit()">press</button> -->
<div class="main">
    <h1 class="gallaryText">Gallary</h1>
    <small class="smallText">At Sree Vidyanikethan Educational Institutions</small>
    <div class="bar"></div>

<div class="imagebag">
<div *ngIf="dataval" >
    <span  *ngFor="let img of dataval" >
        <img  [src]="img" alt="image" id="images">
    </span>
    
    
</div>
</div>
<div class="upload">
    <form *ngIf="isAdmin" (submit)="onsubmit()">
        <span class="upload-btn-wrapper">
            <input type="file" name="files" multiple  multiple (change)="onfileselect($event)" accept=".gif,.jpg,.jpeg,.png"/>
            <button class="btn uploadbtn"style="margin-left: 30px" >Select images to upload</button>
        </span>
        <button type="submit" class="btn submitbtn" style="margin-right: 30px">Upload</button>
    </form>
    
    </div>
</div>


<!-- <img src="dataval" alt="hiiiiiiiiiiiii"> -->
