.main{
 min-width: 1200px;
 background-color: #f1f1f1;
}
.toptext{
    font-size: 30px;
    padding: 7px;
    color: white;

}
.sidenav{
    background-color: #1e282c;
    height: 100%;

    position: fixed;
    width: 230px;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}
.maindiv{
    height: 100%;
    margin-left: 230px;
    transition: all 0.3s ease;

}
.topmain{
    position: sticky;
    top: 0em;
    z-index: 999;
    padding: 10px;
    padding-right: 30px;
    height: 53px;
    background: white;
}
.navright{
    float: right;
}
.logout{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: dodgerblue;
}
.admin{
   position: relative;
   bottom: 10px;
   font-size: 10px;
    border-radius: 5px;
    color: #DC143c;
    font-weight: 600;
    font-family: roboto;
    background: white;
}
.admindiv{
    display: inline-grid;
    margin-right: 25px;
}

.menu{
    list-style-type:none;
    padding: 0px;
}
.menuElements{
    color: #b8c7c3;
    font-size: 14px;
    padding: 10px 20px;
    border-left: 3px solid transparent;
}


.menuhead{

    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226;
}
.fa{
    margin-right: 10px;
}
.buts:hover{
    background-color: #333333;
    border-color: #3c8dbc;
    cursor: pointer;
}
.bars{
    margin-top: -4px;
    padding: 10px 12px;
    background: #F2B33F;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    float: left;
}
.droplist{
    padding: 4px 15px;
    /* margin: 0px; */
    font-size: 12px;
}
.ddown{
    padding-left: 30px;
    color: white;
}
li:focus{
    outline: none;
}