<div class="main">
    <div class="top">
        <div class="bar"></div>
      <h1 class="headtext" > Job Street</h1>
</div>
<div class="content">
    <div *ngIf='!postAjob'>
    <div style="padding: 10px ;  height: 110px;">   
    <div class="filter">
        <div class="filtertext">Filter Jobs</div>
        <div class="select">
                 
            <select (change)="onSelecttype($event)" name="slct" id="slct">
              <option selected vaue="all">All</option>
              <option value='fresh'>Fresher</option>
              <option value="internship">Internship</option>
              <option value="experience">Experience</option>
           <!---  <option value="institute">Institute</option> -->
            </select>
          </div>
    </div>
    <div class="post">
            <button class="postjob" (click)='postAjob=true'>Post a Job</button>
    </div>
    </div>
<div class="jobs">
    <div class="eachjob" *ngFor="let eachjob of jobs">
        <div class="jobimage">
            
           <div class="name">{{eachjob.name}}</div>
        </div>
        <div class="jobdetails">
           <div class="companyname">
              <div style="width: 70%;display: inline-block;">{{eachjob.name}}</div> 
               <div style="width: 30%; float: right;"><button class="apply"> Apply</button></div> </div>
               <div class="subtext">Hiring for freshers</div>
               <div>
               <div class="tags">Role : <span class="values">System Engineer</span></div>
           <div class="tags">Eligibility : <span class="values">Comuter Science and Engineering(2020)</span></div>
           <div class="tags">Location : <span class="values">Hyderabad</span></div>
        </div>
        </div>
    </div>
</div>
</div>
<div *ngIf='postAjob' style="padding: 10px;">
    <div class="posttext">Fill the below details</div>
    <div class="jobpostfields">
        <form (submit)="formsubmit(update)" #update="ngForm">
			<div class="form-row">
				<input type="text" name="company" ngModel id="form-name" class="form-textbox" required #company='ngModel'>
				<label for="form-name" class="form-label">Company *</label>
			</div>
			<div class="form-row">
				<input type="text" name="role" id="form-password" class="form-textbox" required ngModel>
				<label for="form-password" class="form-label">Role *</label>
            </div>
            <div class="form-row">
				<input type="text" name="location" id="form-location" class="form-textbox" required ngModel>
				<label for="form-location" class="form-label">Location *</label>
            </div>
            <div class="form-row">
				<input type="text" name="batch" id="form-batch" class="form-textbox" required ngModel>
				<label for="form-batch" class="form-label">Batch *</label>
            </div>
            <div class="form-row">
				<input type="text" name='link' id="form-batch" class="form-textbox" required ngModel>
				<label for="form-batch" class="form-label">Link *</label>
            </div>
            <div class="form-row">
                <div class="slectlable labled">Last Date*</div>
				<input type="date" name='deadline' id="form-batch" class="form-textbox" required ngModel>
			
            </div>
            <div class="form-row">
                <div class="slectlable">Experience needed *</div>
            <div class="select">
                <select id="form-type" name="experience" id="slct" ngModel> 
                  <option value='fresher'>Fresher</option>
                  <option value="internship">Internship</option>
                  <option value="experience">Experience</option>
               <!---  <option value="institute">Institute</option> -->
                </select>
              </div>
            </div>
   
            <div class="form-row">
                <div class="slectlable">Degree *</div>
                <div class="select">
                    <select id="form-type" name="degree" id="slct" ngModel>
                      <option [value]='degree' *ngFor='let degree of degrees'>{{degree}}</option>
                    </select>
                  </div>
                </div>
            <p *ngIf="invalid" style="color: red;" class="text-center">Fill all the fields with * mark</p>
			<div class="butt">
				<input type="submit" value="Post Job" class="form-submit">
			</div>
		</form>
    </div>
</div>
</div>  
</div>