body{
    background-color: #25274d;
}
.rowmain
{
    height: 100%;
    font-variant: none;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-3{
    background: #DC143C;
    padding: 3%;
    float: left;
    height: 100%;
    width: 35%;
}
.contact-info{
    margin-top:10%;
    
}
.control-label
{
 color: black;
}
.contactpage{
    font-size: 30px;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-9{
    background: #fff;
    padding: 3%;
    float: left;
    height: 100%;
    width: 65%;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.message{
    color: black;
    margin-top: 25px;
}