<div class="main">
<div class="image">
  <img src="./../../assets/images/Sreevidyanikethan.jpg" alt="" height="100%" width="100%">
  <!-- <div class="profileImg">
    <img class="profilePic" src="./../../assets/images/download.jpg" alt="" height="100%" width="100%">
  </div> -->
  <div class="infoAbout">
    <h1 class="name">Ahmad Shaik</h1>
    <h4 class="infojob">Developer at Infosys.</h4>
    <div class="locationInfo">
    <i class="fa fa-map-marker" style="    font-size:17px;" aria-hidden="true"></i>
    <span class="location">Hyderabad</span>
    <div class="bdaynotify">
        <i class="faa fa fa-birthday-cake" aria-hidden="true" style="font-size: 30px;" [routerLink]="['/Birthdays']"></i><span class="circle">2</span>
        <i class="faa fa fa-bell" aria-hidden="true"  style="font-size: 30px;" [routerLink]="['/Notifications']"></i><span class="circle">5</span>

    </div>
</div>
  </div>
  <div class="content">
      <div class="eventDiv" #eventdiv>
    <h1 class="events">Total Registered Events : 2</h1>
    <button (click)="showMore()" class="viewbut">{{view}}</button>
    <div class="eachevent" style="background-color:  #6B7A8F;">
        <h5 class="eventName ">Event1</h5>
        <h5 class="eventDate" style="font-size: 15px;"><i class="fa fa-calendar" aria-hidden="true"></i> 12-02-2019</h5>
    </div>
    <div class="eachevent" style="background-color:  #ffdc6a;">
        <h5 class="eventName">Event2</h5>
        <h5 class="eventDate" style="font-size: 15px;"><i class="fa fa-calendar" aria-hidden="true"></i> 12-02-2019</h5>
    </div>
</div>
  </div>
</div>
<div class="testmonialdiv">
    <h3 class="testmonialtext">Your Testmonial</h3>
    <button class="givebutton" *ngIf="testmonial==''" (click)="writetestmonial()">Write testmonial</button>
    <div *ngIf="testmonial!=''" >
    <textarea ngIf="isEdit" class="testmonialtextarea" name="" id="" cols="20" rows="5">
      {{testmonial}}
    </textarea>
    <p ngIf="!isEdit" class="testmonialpara"> {{testmonial}}</p>
    <button class="deletebutton modify" (click)="deletetestmonial()">Delete</button>
    <button class="editbutton modify" (click)="edittestmonial()" >Edit</button>
    </div>
</div>
</div>