<div class="loading" *ngIf='loading'>
    <div class="loading2"></div>
  </div>
<div class="main">
    <div class="top">
        <div class="bar"></div>
       <div class="headtext">
          <h3>Reset Password</h3>
          <small class="givequote"></small>
       </div>
      </div>
      <div class="content">
            <div class="resetBox">
               <div>
                 <h3>Forget Your Password?</h3>
                 <p class="psubtext">Enter the email associated with your account</p>
                 <!-- <p class="psubtext light">We will email a otp to reset your password</p> -->
               </div>
               <div class="inputdiv">
                <label>
                    <input type="text" [disabled]=emailDisable id="name" placeholder=" " #email>
                    <span>Email *</span>
                </label>
               </div>
               <div class="resetbut"*ngIf='!showOtpdiv'>
                   <button class="emailsubmit" (click)='sendotp(email.value)'>Send Otp</button>
                   <p class="erremail" *ngIf='showemailerr'>Email not found...Please provide valid email </p>
                   <p class="erremail" *ngIf='noemail'>Please fill all required fields.</p>
               </div>
               <div class="resetbut otpdiv" *ngIf='showOtpdiv'>
                 <p>A OTP (One Time Passcode) has been send to your mail.. <br><span class="resendbut" (click)='resendOTP()' *ngIf='!resendtimer'>Resend OTP </span> <span class="resendtimer" *ngIf='resendtimer'>Resend OTP | {{timeLeft}}s</span></p>
                <ng-otp-input class="otp" (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
                <div class="passwordinput" *ngIf='showPasswordDiv'>
                     <input type="password" placeholder="New Password" #password>
                     <input type="text" placeholder="Confirm Password" #cpassword>
                <button class="emailsubmit" *ngIf="passwordupdate" (click)='changePassword(password.value,cpassword.value)'>Change Password</button>
                <p class="erremail" *ngIf='passvalid'> Password should contain uppercase,lowercase and number with 6-20 length</p>
                <p class="erremail" *ngIf='passmatcherr'>Different Password and Confirm Password</p>
                <p class="erremail success" *ngIf='succesMsg'>Password Changed Succesfully.....!</p>
              </div>
                <p class="erremail" *ngIf='showotperr' style="font-size: 20px;">Invalid OTP</p>
            </div>
            </div>
      </div>
</div>