.main{
    color: black;
    font-variant: normal;
    font-family: roboto;
    font-weight: normal;
}
*:focus{
    outline: none;
}
.bar{
    height: 43px;
    float: left;
    margin-top: 25px;
    width: 67%;
    background-color: #DC143C;
}
.headtext{
    float: right;
    /* padding: 18px; */
    padding-top: 30px;
    padding-right: 20px;
}
.givequote{
    position: relative;
    top: -6px;
}
.top{
 height: 95px;
}
.content{
padding: 10px;
}
.headtext h3{
    font-size: 30px;
    font-family: roboto;
}
.resetBox{
    width: 85%;
    margin: 0 auto;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0px 0px 5px #444;
}
.psubtext{
    margin: 0;
}
.light{
    color: #83a0ae;
}
.inputdiv{
    margin-top: 30px;
}
label {
    position: relative;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
  span {
    position: absolute;
    transition: all 200ms;
    opacity: 0.5;
    left: 0px;
    padding: 10px;
    transform-origin: top left;
  }
  
  input:not(:placeholder-shown) + span {
    transform: translateY(-100%);
    opacity: 1;
    padding: 0 0px;
    font-size: 20px;
    color: black;
  }
  .emailsubmit{
    border: none;
    background-color: #DC143c;
    color: white;
    border-radius: 3px;
    padding: 6px 40px;
    font-size: 18px;
  }
  .emailsubmit:hover
  {
      padding: 5px 40px;
      color: black;
      background-color: white;
      border: 1px solid #DC143C;
  }
  .erremail{
    margin-top: 15px;
    color: #F9483b;
    text-align: center;
  }
  .resetbut{
      text-align: end;
  }
 .otpdiv{
     text-align: center;
 }
 .resendbut{
    position: relative; 
    color: #5326a3;
    opacity: 1;
 }
 .resendbut:hover{
     cursor: pointer;
     text-decoration: underline;
 }
 .passwordinput{
    margin: 10px 0px;
 }
 .passwordinput input{
    width: 80%;
    margin: 10px 0px;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;
 }
 .success{
    color: #6fd273;
    font-size: 20px;

 }
 .resendtimer{
    position: relative; 
    font-weight: bold;
    color: black;
    opacity: 1;
 }